@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

img {
  max-width: 100%; }

.header {
  background-color: transparent;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 700;
  transition: all 250ms ease-out; }
  .header.header-scroll {
    background-color: #161516; }
  .header__container {
    width: 90%;
    margin: 0 auto;
    position: relative; }
    @media screen and (min-width: 1024px) {
      .header__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .header__container {
        width: 1110px; } }
  .header__icons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
  .header__lenguage {
    color: #fff;
    font-size: 1.7em;
    text-transform: uppercase;
    cursor: pointer; }
  .header__logo {
    width: 11em; }
    @media screen and (min-width: 768px) {
      .header__logo {
        width: 14em; } }
  .header__logo-number {
    fill: #B11623; }
  .header__logo-type, .header__icon-menu {
    fill: #fff; }
  .header__icon-menu {
    width: 2.5em;
    position: relative;
    z-index: 800;
    cursor: pointer; }

.main-nav {
  background-color: #161516;
  position: fixed;
  width: 100%;
  right: -100%;
  top: 0;
  z-index: 750;
  height: 100vh;
  opacity: .98;
  transition: all 350ms ease-in; }
  @media screen and (max-width: 767px) {
    .main-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (min-width: 768px) {
    .main-nav {
      width: 50%;
      padding: 10em 3em 0; } }
  .main-nav.show-menu {
    right: 0; }
  .main-nav__list, .main-nav__social-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav__list {
    text-align: center; }
    @media screen and (max-width: 767px) {
      .main-nav__list {
        width: 70%; } }
    @media screen and (min-width: 768px) {
      .main-nav__list {
        width: 100%;
        text-align: right;
        margin-bottom: 6em; } }
    @media screen and (min-width: 1024px) {
      .main-nav__list {
        margin-bottom: 3em; } }
  .main-nav__list-item {
    margin-bottom: 1.7em; }
  .main-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1.5; }
    @media screen and (min-width: 768px) {
      .main-nav__link {
        font-size: 2.5em; }
        .main-nav__link:hover {
          color: #fff; } }
    @media screen and (min-width: 1200px) {
      .main-nav__link {
        font-size: 3.2em;
        font-weight: 900; } }
  @media screen and (min-width: 1024px) {
    .main-nav__link-hidden {
      display: none; } }
  @media screen and (max-width: 767px) {
    .main-nav__social-list {
      display: none; } }
  @media screen and (min-width: 768px) {
    .main-nav__social-list {
      position: absolute;
      right: 3em; } }
  @media screen and (min-width: 768px) {
    .main-nav__social-item {
      display: inline-block; } }
  @media screen and (min-width: 768px) {
    .main-nav__social-icon-fb {
      width: 1.3em; } }
  @media screen and (min-width: 768px) {
    .main-nav__social-icon-tw {
      width: 2.2em;
      margin: 0 3em; } }
  @media screen and (min-width: 768px) {
    .main-nav__social-icon-tr {
      width: 2.4em; } }
  @media screen and (min-width: 768px) {
    .main-nav__social-icon-fb, .main-nav__social-icon-tw, .main-nav__social-icon-tr {
      fill: rgba(255, 255, 255, 0.85); }
      .main-nav__social-icon-fb:hover, .main-nav__social-icon-tw:hover, .main-nav__social-icon-tr:hover {
        fill: #fff; } }

.landing {
  padding: 4em 0; }
  @media screen and (min-width: 640px) {
    .landing {
      padding: 8em 0; } }
  @media screen and (max-width: 767px) {
    .landing {
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/landing-small.jpg) 50% 50%/cover no-repeat;
      height: 100vh; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .landing {
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/landing-medium.jpg) 50% 50%/cover no-repeat;
      height: 100vh; } }
  @media screen and (min-width: 1024px) {
    .landing {
      position: relative; } }
  .landing__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .landing__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .landing__container {
        width: 1110px; } }
  @media screen and (max-width: 1023px) {
    .landing__video-wrapper {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .landing__video {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -100; } }
  .landing__elements-content {
    margin-top: 4em; }
    @media screen and (min-width: 480px) {
      .landing__elements-content {
        margin-top: 8em; } }
    @media screen and (min-width: 768px) {
      .landing__elements-content {
        width: 25em; } }
    @media screen and (min-width: 1200px) {
      .landing__elements-content {
        margin-top: 4em; } }
  .landing__header-title-1, .landing__header-title-2, .landing__header-title-3 {
    color: #fff;
    margin: 0;
    text-shadow: 0.5px 1px 2px rgba(22, 21, 22, 0.5); }
  .landing__header-title-1 {
    font-size: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px; }
  .landing__header-title-2, .landing__header-title-3 {
    font-family: "Dancing Script", cursive;
    font-size: 4.5em; }
  .landing__icon-container {
    margin: 2em auto;
    width: 250px;
    position: relative; }
    .landing__icon-container:before {
      content: " ";
      display: block;
      width: 4.5em;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 2em;
      left: 0; }
    .landing__icon-container:after {
      content: " ";
      display: block;
      width: 4.5em;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 2em;
      right: 0; }
  .landing__icon {
    fill: #fff;
    width: 4em; }
  .landing__button {
    display: block;
    line-height: 3;
    border: 2px solid #fff;
    border-radius: 5em;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 0.5px 1px 2px rgba(22, 21, 22, 0.5);
    transition: all 250ms ease-in; }
    .landing__button:hover {
      background-color: #B11623;
      border-color: #B11623; }

.icon-header {
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .icon-header {
      margin-bottom: 3.5em; } }
  .icon-header:before {
    content: " ";
    display: block;
    width: 7em;
    height: 3px;
    background-color: #161516;
    position: absolute;
    top: 1.5em;
    left: 0; }
    @media screen and (min-width: 640px) {
      .icon-header:before {
        width: 13em; } }
    @media screen and (min-width: 768px) {
      .icon-header:before {
        width: 38%; } }
    @media screen and (min-width: 1024px) {
      .icon-header:before {
        width: 43%; } }
  .icon-header:after {
    content: " ";
    display: block;
    width: 7em;
    height: 3px;
    background-color: #161516;
    position: absolute;
    top: 1.5em;
    right: 0; }
    @media screen and (min-width: 640px) {
      .icon-header:after {
        width: 13em; } }
    @media screen and (min-width: 768px) {
      .icon-header:after {
        width: 38%; } }
    @media screen and (min-width: 1024px) {
      .icon-header:after {
        width: 43%; } }

.icon-header-icon {
  width: 3em;
  fill: #161516; }

.icon-header-title {
  color: #161516;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5; }

.icon-header-w {
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .icon-header-w {
      margin-bottom: 3.5em; } }
  .icon-header-w:before {
    content: " ";
    display: block;
    width: 7em;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 1.5em;
    left: 0; }
    @media screen and (min-width: 640px) {
      .icon-header-w:before {
        width: 13em; } }
    @media screen and (min-width: 768px) {
      .icon-header-w:before {
        width: 38%; } }
    @media screen and (min-width: 1024px) {
      .icon-header-w:before {
        width: 43%; } }
  .icon-header-w:after {
    content: " ";
    display: block;
    width: 7em;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 1.5em;
    right: 0; }
    @media screen and (min-width: 640px) {
      .icon-header-w:after {
        width: 13em; } }
    @media screen and (min-width: 768px) {
      .icon-header-w:after {
        width: 38%; } }
    @media screen and (min-width: 1024px) {
      .icon-header-w:after {
        width: 43%; } }

.icon-header-icon-w {
  width: 3em;
  fill: rgba(255, 255, 255, 0.85); }

.icon-header-title-w {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5; }

.about {
  padding: 4em 0; }
  @media screen and (min-width: 640px) {
    .about {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .about {
      padding: 5em 0; } }
  .about__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .about__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .about__container {
        width: 1110px; } }
  @media screen and (min-width: 1024px) {
    .about__elements-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center; } }
  .about__img-container {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1024px) {
      .about__img-container {
        width: 49%; } }
    @media screen and (min-width: 1200px) {
      .about__img-container {
        width: 50%; } }
  .about__copy-container {
    margin-top: 2em;
    border: 3px solid #161516;
    padding: 1.5em 1em;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .about__copy-container {
        width: 48%;
        margin: 0;
        padding: 1em;
        border: none; } }
  .about__copy, .about__name {
    color: #161516;
    font-size: 1.2em;
    line-height: 1.6; }
  @media screen and (min-width: 1024px) {
    .about__copy {
      font-size: 1.1em; } }
  .about__name {
    display: block;
    margin-top: 2em;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900; }
    @media screen and (min-width: 1024px) {
      .about__name {
        margin-top: 1em; } }

.menu {
  padding: 4em 0;
  color: rgba(255, 255, 255, 0.85);
  background-color: #161516; }
  @media screen and (min-width: 640px) {
    .menu {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .menu {
      padding: 5em 0; } }
  .menu__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .menu__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .menu__container {
        width: 1110px; } }
  .menu__header-description {
    font-size: 1.4em;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .menu__header-description {
        font-size: 1.2em; } }
  .menu__items-container {
    margin-top: 4em; }
    @media screen and (min-width: 768px) {
      .menu__items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .menu__item-1 {
    background: url(../assets/item-carta-1.jpg) 50% 50%/cover no-repeat; }
  .menu__item-2 {
    background: url(../assets/item-carta-2.jpg) 50% 50%/cover no-repeat; }
  .menu__item-3 {
    background: url(../assets/item-carta-3.jpg) 50% 50%/cover no-repeat; }
  .menu__item-4 {
    background: url(../assets/item-carta-4.jpg) 50% 50%/cover no-repeat; }
  .menu__item-1, .menu__item-2, .menu__item-3, .menu__item-4 {
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
    width: 100%;
    height: 20em;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .menu__item-1:hover .menu__item-card-hidden, .menu__item-2:hover .menu__item-card-hidden, .menu__item-3:hover .menu__item-card-hidden, .menu__item-4:hover .menu__item-card-hidden {
      opacity: .95; }
    @media screen and (min-width: 768px) {
      .menu__item-1, .menu__item-2, .menu__item-3, .menu__item-4 {
        width: 48%;
        height: 27em; } }
    @media screen and (min-width: 1024px) {
      .menu__item-1, .menu__item-2, .menu__item-3, .menu__item-4 {
        height: 24em; } }
    @media screen and (min-width: 1200px) {
      .menu__item-1, .menu__item-2, .menu__item-3, .menu__item-4 {
        width: 24.5%;
        height: 24em; } }
  .menu__item-card-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; }
  .menu__item-title {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 400;
    position: relative; }
    .menu__item-title:before {
      content: " ";
      width: 100%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      top: -.3em;
      left: 0; }
      @media screen and (min-width: 1200px) {
        .menu__item-title:before {
          height: 2px; } }
    .menu__item-title:after {
      content: " ";
      width: 100%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      bottom: -.3em;
      left: 0; }
      @media screen and (min-width: 1200px) {
        .menu__item-title:after {
          height: 2px; } }
    @media screen and (min-width: 1200px) {
      .menu__item-title {
        font-size: 1.4em; } }
  @media screen and (max-width: 767px) {
    .menu__item-card-hidden {
      display: none; } }
  @media screen and (min-width: 768px) {
    .menu__item-card-hidden {
      background-color: #161516;
      padding: 1.5em 1em;
      opacity: 0;
      text-align: center;
      transition: all 150ms ease-in; } }
  .menu__item-card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative; }
    .menu__item-card-title:after {
      content: " ";
      width: 100%;
      height: 2px;
      background-color: rgba(204, 204, 204, 0.85);
      position: absolute;
      bottom: -.5em;
      left: 0; }
  .menu__item-card-text {
    font-size: 1.2em;
    line-height: 1.6; }
    @media screen and (min-width: 1200px) {
      .menu__item-card-text {
        font-size: 1em; } }
  .menu__item-card-button {
    display: inline-block;
    line-height: 3;
    padding: 0 2em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5em;
    border: 2px solid rgba(255, 255, 255, 0.85);
    transition: all 250ms ease-in; }
    .menu__item-card-button:hover {
      background-color: #B11623;
      border-color: #B11623;
      color: #fff; }
    @media screen and (min-width: 1200px) {
      .menu__item-card-button {
        font-size: .8em; } }

.service {
  background-color: #B11623;
  padding: 4em 0;
  color: #fff; }
  @media screen and (min-width: 640px) {
    .service {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .service {
      padding: 5em 0; } }
  .service__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .service__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .service__container {
        width: 1110px; } }
  @media screen and (min-width: 1024px) {
    .service__elements-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center; } }
  .service__img-container {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1024px) {
      .service__img-container {
        width: 49%; } }
  .service__copy-container {
    margin-top: 2em;
    border: 3px solid #fff;
    padding: 1.5em 1em;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .service__copy-container {
        width: 48%;
        border: none;
        margin-top: 0; } }
  .service__copy {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6; }
  .service__button {
    display: block;
    line-height: 3;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 5em;
    margin-bottom: 1em;
    transition: all 250ms ease-in; }
    .service__button:hover {
      background-color: #fff;
      color: #161516; }
    @media screen and (min-width: 768px) {
      .service__button {
        width: 50%;
        margin: 2em auto;
        font-weight: 700; } }
    @media screen and (min-width: 1024px) {
      .service__button {
        width: 85%;
        font-size: 1em; } }

.review {
  padding: 4em 0; }
  @media screen and (min-width: 640px) {
    .review {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .review {
      padding: 5em 0; } }
  .review__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .review__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .review__container {
        width: 1110px; } }
  .review__header-title-style {
    color: #B11623; }
  .review__img-container {
    margin: 3em auto 1em;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .review__img-container {
        width: 70%; } }
    @media screen and (min-width: 1024px) {
      .review__img-container {
        width: 55%; } }
  .review__copy-container {
    padding: 1em;
    text-align: center; }
  .review__copy {
    color: #161516;
    font-size: 1.2em;
    line-height: 1.6; }
  .review__button {
    display: block;
    line-height: 3;
    font-size: 1.1em;
    font-weight: 700;
    color: #161516;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid #161516;
    border-radius: 5em;
    margin-bottom: 1em;
    transition: all 250ms ease-in; }
    .review__button:hover {
      background-color: #161516;
      color: #fff; }
    @media screen and (min-width: 768px) {
      .review__button {
        width: 50%;
        margin: 2em auto;
        font-weight: 700; } }
    @media screen and (min-width: 1024px) {
      .review__button {
        font-size: 1em;
        width: 40%; } }
    @media screen and (min-width: 1200px) {
      .review__button {
        width: 30%; } }

.blog {
  padding: 4em 0;
  background-color: #161516;
  color: rgba(255, 255, 255, 0.85); }
  @media screen and (min-width: 640px) {
    .blog {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .blog {
      padding: 5em 0; } }
  .blog__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .blog__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .blog__container {
        width: 1110px; } }
  .blog__header-description {
    font-size: 1.4em;
    line-height: 1.6;
    margin-bottom: 2em; }
    @media screen and (min-width: 1024px) {
      .blog__header-description {
        font-size: 1.2em; } }
  @media screen and (min-width: 768px) {
    .blog__items-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media screen and (min-width: 1024px) {
    .blog__items-container {
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .blog__item {
    background-color: #262626;
    margin-bottom: 2em; }
    @media screen and (min-width: 768px) {
      .blog__item {
        width: 47%; } }
    @media screen and (min-width: 1024px) {
      .blog__item {
        width: 32%; } }
  .blog__item-img-container {
    margin: 0;
    padding: 0; }
  .blog__item-body-content {
    padding: 1.5em 1em; }
  .blog__item-body-user {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
    margin-top: 0; }
  .blog__item-body-user-name, .blog__item-body-more {
    text-decoration: none;
    color: #fff; }
    .blog__item-body-user-name:hover, .blog__item-body-more:hover {
      text-decoration: underline; }
  .blog__item-body-title {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.85); }
  .blog__item-body-more {
    font-size: 1.1em; }
  .blog__button-container {
    text-align: center;
    margin: 4em 0 0; }
  .blog__button {
    display: block;
    line-height: 3;
    font-size: 1.1em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.85);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 5em;
    margin-bottom: 1em;
    transition: all 250ms ease-in; }
    .blog__button:hover {
      background-color: rgba(255, 255, 255, 0.85);
      color: #161516; }
    @media screen and (min-width: 768px) {
      .blog__button {
        width: 50%;
        margin: 2em auto;
        font-weight: 700; } }
    @media screen and (min-width: 1024px) {
      .blog__button {
        width: 30%; } }

.chef {
  padding: 4em 0; }
  @media screen and (min-width: 640px) {
    .chef {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .chef {
      padding: 5em 0; } }
  .chef__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .chef__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .chef__container {
        width: 1110px; } }
  @media screen and (min-width: 1024px) {
    .chef__elements-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center; } }
  .chef__img-container {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1024px) {
      .chef__img-container {
        width: 49%; } }
  .chef__copy-container {
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    border: 2px solid #161516; }
    @media screen and (min-width: 1024px) {
      .chef__copy-container {
        width: 48%;
        margin-top: 0;
        border: none; } }
  .chef__copy {
    color: #161516;
    font-size: 1.2em;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .chef__copy {
        font-size: 1.1em; } }
  .chef__button {
    display: block;
    line-height: 3;
    font-size: 1.1em;
    font-weight: 700;
    color: #161516;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid #161516;
    border-radius: 5em;
    margin-bottom: 1em;
    transition: all 250ms ease-in; }
    .chef__button:hover {
      background-color: #161516;
      color: #fff; }
    @media screen and (min-width: 768px) {
      .chef__button {
        width: 50%;
        margin: 2em auto;
        font-weight: 700; } }

.contact {
  padding: 4em 0;
  background-color: rgba(204, 204, 204, 0.15); }
  @media screen and (min-width: 640px) {
    .contact {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .contact {
      padding: 5em 0; } }
  .contact__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .contact__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .contact__container {
        width: 1110px; } }
  .contact__header-description {
    font-size: 1.4em;
    line-height: 1.6; }
  .contact__map-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 70%; }
    @media screen and (min-width: 1024px) {
      .contact__map-wrapper {
        padding-bottom: 50%; } }
    @media screen and (min-width: 1200px) {
      .contact__map-wrapper {
        padding-bottom: 40%; } }
  .contact__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .contact__info-container {
    margin-top: 3em;
    text-align: center; }
  .contact__info-title {
    font-size: 1.5em;
    color: #161516; }
  .contact__info-address, .contact__info-phone {
    color: rgba(22, 21, 22, 0.5);
    font-size: 1.2em;
    line-height: 1.5; }
  .contact__button-container {
    margin-top: 3em; }
  .contact__button {
    display: block;
    line-height: 3;
    font-size: 1.1em;
    font-weight: 700;
    color: #161516;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid #161516;
    border-radius: 5em;
    margin-bottom: 1em;
    transition: all 250ms ease-in; }
    .contact__button:hover {
      background-color: #B11623;
      border-color: #B11623;
      color: #fff; }
    @media screen and (min-width: 768px) {
      .contact__button {
        width: 50%;
        margin: 2em auto;
        font-weight: 700; } }
    @media screen and (min-width: 1200px) {
      .contact__button {
        width: 35%; } }

.footer {
  padding: 6em 0;
  background-color: #161516;
  color: rgba(255, 255, 255, 0.85); }
  @media screen and (min-width: 640px) {
    .footer {
      padding: 8em 0; } }
  @media screen and (min-width: 1200px) {
    .footer {
      padding: 5em 0 1em; } }
  .footer__container {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .footer__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .footer__container {
        width: 1110px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .footer__invitation {
    margin-bottom: 7em;
    cursor: pointer; }
    @media screen and (min-width: 1200px) {
      .footer__invitation {
        margin: 0;
        width: 33%; } }
  .footer__invitation-link {
    text-decoration: none; }
  .footer__title-bar20 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-size: 1.5em; }
    @media screen and (min-width: 1200px) {
      .footer__title-bar20 {
        display: none; } }
  .footer__img-container {
    margin: 0 auto;
    padding: 0;
    width: 10em; }
    @media screen and (min-width: 1200px) {
      .footer__img-container {
        width: 6em; } }
  .footer__logo {
    fill: rgba(255, 255, 255, 0.85);
    width: 12em; }
    @media screen and (min-width: 1200px) {
      .footer__logo {
        margin: 0; } }
  .footer__social {
    margin: 3em 0; }
    @media screen and (min-width: 1200px) {
      .footer__social {
        margin: 0;
        width: 33%; } }
  .footer__social-list {
    margin: 0;
    padding-left: 0;
    list-style: none; }
  .footer__social-item {
    display: inline-block; }
  .footer__social-icon-fb {
    width: 1.2em; }
  .footer__social-icon-tw {
    width: 2em;
    margin: 0 2.5em; }
  .footer__social-icon-tr {
    width: 2.5em; }
  .footer__social-icon-fb, .footer__social-icon-tw, .footer__social-icon-tr {
    fill: rgba(255, 255, 255, 0.85); }
    .footer__social-icon-fb:hover, .footer__social-icon-tw:hover, .footer__social-icon-tr:hover {
      fill: #fff; }
  @media screen and (min-width: 1200px) {
    .footer__copy-container {
      width: 100%;
      margin-top: 5em; } }
  .footer__copyright {
    line-height: 1.6; }
