.chef {
	padding: 4em 0;

	@media screen and (min-width: 640px) {
		padding: 8em 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 5em 0;
	}

	&__container {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 1024px) {
			width: 85%;
		}

		@media screen and (min-width: 1200px) {
			width: 1110px;
		}
	}
	&__elements-container {

		@media screen and (min-width: 1024px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__img-container {
		margin: 0;
		padding: 0;

		@media screen and (min-width: 1024px) {
			width: 49%;
		}
	}
	&__copy-container {
		margin-top: 2em; 
		padding: 1em;
		text-align: center;
		border: 2px solid $color1;

		@media screen and (min-width: 1024px) {
			width: 48%;
			margin-top: 0;
			border: none;
		}
	}
	&__copy {
		color: $color1;
		font-size: 1.2em;
		line-height: 1.6;

		@media screen and (min-width: 1024px) {
			font-size: 1.1em;
		}
	}
	&__button {
		display: block;
		line-height: 3;
		font-size: 1.1em;
		font-weight: $bold;
		color: $color1;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		border: 2px solid $color1;
		border-radius: 5em;
		margin-bottom: 1em;
		transition: all 250ms ease-in;
		
		&:hover {
			background-color: $color1;
			color: #fff;
		}

		@media screen and (min-width: 768px) {
			width: 50%;
			margin: 2em auto;
			font-weight: $bold;
		}
	}
}