.footer {
	padding: 6em 0;
	background-color: $color1;
	color: rgba(#fff, .85);

	@media screen and (min-width: 640px) {
		padding: 8em 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 5em 0 1em;
	}

	&__container {
		width: 90%;
		margin: 0 auto;
		text-align: center;

		@media screen and (min-width: 1024px) {
			width: 85%;
		}

		@media screen and (min-width: 1200px) {
			width: 1110px;

			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	//svg logo bar20
	&__invitation {
		margin-bottom: 7em;
		cursor: pointer;

		@media screen and (min-width: 1200px) {
			margin: 0;
			width: 33%;
		}
	}
	&__invitation-link {
		text-decoration: none;
	}
	&__title-bar20 {
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		font-size: 1.5em;
		
		@media screen and (min-width: 1200px) {
			display: none;
		}
	}
	&__img-container {
		margin: 0 auto;
		padding: 0;
		width: 10em;

		@media screen and (min-width: 1200px) {
			width: 6em;
		}
	}
	//svg logo styles
	&__logo {
		fill: rgba(#fff, .85);
		width: 12em;

		@media screen and (min-width: 1200px) {
			margin: 0;
		}
	}
	//social media
	&__social {
		margin: 3em 0;

		@media screen and (min-width: 1200px) {
			margin: 0;
			width: 33%;
		}
	}
	&__social-list {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
	&__social-item {
		display: inline-block;
	}
	&__social-icon-fb {
		width: 1.2em;
	}
	&__social-icon-tw {
		width: 2em;
		margin: 0 2.5em;
	}
	&__social-icon-tr {
		width: 2.5em;
	}
	&__social-icon-fb,
	&__social-icon-tw,
	&__social-icon-tr {
		fill: rgba(#fff, .85);
		&:hover {
			fill: #fff;
		}
	}
	&__copy-container {

		@media screen and (min-width: 1200px) {
			width: 100%;
			margin-top: 5em;
		}
	}
	&__copyright {
		line-height: 1.6;
	}
}
