.main-nav {
	background-color: $color1;
	position: fixed;
	width: 100%;
	right: -100%;
	top: 0;
	z-index: 750;
	height: 100vh;
	opacity: .98;
	transition: all 350ms ease-in;

	@media screen and (max-width: 767px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media screen and (min-width: 768px) {
		width: 50%;
		padding: 10em 3em 0;
	}

	&.show-menu {
		right: 0;
	}

	&__list,
	&__social-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__list {
		text-align: center;

		@media screen and (max-width: 767px) {
			width: 70%;		
		}

		@media screen and (min-width: 768px) {
			width: 100%;
			text-align: right;
			margin-bottom: 6em;
		}

		@media screen and (min-width: 1024px) {
			margin-bottom: 3em;
		}
	}
	&__list-item {
		margin-bottom: 1.7em;
	}
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: rgba(#fff, .85);
		font-weight: $bold;
		font-size: 1.8em;
		line-height: 1.5;

		@media screen and (min-width: 768px) {
			font-size: 2.5em;
			&:hover {
				color: #fff;
			}
		}

		@media screen and (min-width: 1200px) {
			font-size: 3.2em;
			font-weight: $black;
		}
	}
	&__link-hidden {
		
		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
	//social icons
	&__social-list {

		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: 768px) {
			position: absolute;
			right: 3em;
		}

	}
	&__social-item {

		@media screen and (min-width: 768px) {
			display: inline-block;
		}

	}
	&__social-icon-fb {

		@media screen and (min-width: 768px) {
			width: 1.3em;
		}

	}
	&__social-icon-tw {

		@media screen and (min-width: 768px) {
			width: 2.2em;
			margin: 0 3em;
		}	

	}
	&__social-icon-tr {
		
		@media screen and (min-width: 768px) {
			width: 2.4em;
		}

	}
	&__social-icon-fb,
	&__social-icon-tw, 
	&__social-icon-tr {

		@media screen and (min-width: 768px) {
			fill: rgba(#fff, .85);
			&:hover {
				fill: #fff;
			}
		}
	}
}